// fonts
$font: 'Jost', 'Arial', sans-serif;

// colors
$black: #414141;
$bgBlack: #212525;
$orange: #fe5000;
$teal: #008080;
$blue: #4a62f1;

// media
$mediaWidthLaptop: 1640px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
