extends layouts/layout

block variables
  -
    const pageTitle ='Index'
    const aboutList = [
      'Понятный оффер (уникальное торговое предложение)',
      'Преимуществами (могут решить многие вопросы потенциального клиента)',
      'Средствами коммуникации (удобно позвонить, написать в&nbsp;мессенджер или оставить заявку)',
    ]

block content
  main
    +banner
    +tabs
      +tabs-content__item
        +about
          +about__text('- это маркетинговый инструмент включающий в&nbsp;себя короткий лендинг (посадочную страницу). Она состоит&nbsp;из:', '--short')
          +about__wrapper
            +about__text('', '--xxs')
              +ui-ul(aboutList, 'about')
            +about__text('В&nbsp;посадочную страницу также встроен продуманный квиз, который выявляет потребность посетителя простыми вопросами. Тем самым вы получаете уже готовую заявку с&nbsp;контактными данными и&nbsp;выявленной потребностью', '--xxs, --border')
      +tabs-content__item
        +about
          +about__text('Для того чтобы квиз-лендинг работал максимально эффективно необходимо работать над контентной интеграцией. Важно при настройке рекламы проектировать различные варианты посадочных страниц под группы запросов и из месяца в месяц проводить доработки и доводить продукт до идеала.  ', '--short-l, --xs')
    +projects
    +details
    +price
